<div class="container">
  <h1>All the freelancers</h1>
  Hourly rate filter
  <ul>
    <% @freelancers.each_with_index do |freelancer, index| %>
      <li>
      <%= link_to "#{index + 1}- #{freelancer.user.first_name} #{freelancer.user.last_name} - #{freelancer.feature}", freelancer_path(freelancer) %>
      </li>
    <% end %>
  </ul>

  <%= @freelancers.count %>
</div>